<?xml version="1.0" encoding="utf-8"?>

<launch>
<group ns="map_merge">
  <node pkg="map_merge_3d" type="map_merge_node" respawn="false" name="map_merge_3d" output="screen">
    <param name="robot_map_topic" value="map_points"/>
    <param name="robot_namespace" value="multijackal_0"/>
    <param name="merged_map_topic" value="map"/>
    <param name="world_frame" value="world"/>
    <param name="compositing_rate" value="0.3"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.01"/>
    <param name="publish_tf" value="true"/>
    <!-- and all the other map merging parameters -->
  </node>
</group>

<!-- 3D octomap mapper node-->
<node pkg="octomap_world" type="octomap_manager" name="octomap_manager_server" output="screen">         
  <param name="tf_frame"  type="string" value="world"/>  
  <remap from="pointcloud"     to="/map_merge/map"/>      
  <param name="map_publish_frequency"  type="double" value="5.0"/>     
  <param name="resolution"  type="double" value="0.1"/>   
  <param name="sensor_max_range" type="double" value="20.0"/>   
  <param name="ignore_timestamp_mismatch" type="bool" value="true"/>         
</node> 

</launch>
	
